<div class="versus">
  <div class="versus__vs animate--in">VS</div>
  <div class="versus__one player--one animate--in">
   
      <img class="player__avatar player__avatar--left" src="assets/images/player-1.png" alt="">
      <div class="player__details">
        <div class="player__name"><b>{{player.left.name}}</b></div>
        <div class="player__badge"><small>{{player.left.badge}}</small></div>
        <div class="player__score"></div>
      </div>
    
  </div>

  <div class="versus__two player--two animate--in">
    
      <img class="player__avatar player__avatar--right" src="assets/images/player-2.png" alt="">
      <div class="player__details">
        <div class="player__name"><b>{{player.right.name}}</b></div>
        <div class="player__badge"><small>{{player.right.badge}}</small></div>
        <div class="player__score"></div>
      </div>

  </div>
</div>