<div class="waiting-screen">
  <img class="waiting-screen__logo" src="assets/images/vanamo_logo.png" alt="">
  <h3 class="waiting-screen__topic">{{topic.name}}</h3>
  <div class="waitin-screen__wrap">
  	<p>waiting for the player to accept the challenge</p>
  	<time class="waiting-screen__timer">{{>waiting-timer time=time}}</time>
  </div>
</div>